// docker.enabled = true

// docker.enabled = false
// conda.enabled = true

// profiles {
//     docker {
//         docker.enabled = true
//     }
//     conda {
//         conda.enabled = true
//     }
// }

profiles {
    docker {
        docker.enabled = true
        conda.enabled = false
    }
    conda {
        docker.enabled = false
        conda.enabled = true
    }
    local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}

process {
    cpus = 8
    memory = 4.GB
}

process {
    withName: 'GATK_HAPLOTYPECALLER|GATK_JOINTGENOTYPING' {
        cpus = 8
        memory = 4.GB
    }
    // withLabel: 'label'
}

// process {
//     executor = 'slurm'
// }

// google {
//     project = 'your-project-id'
//     location = 'us-central1'
// }

/*
* Command to run
*/
// nextflow run seqeralabs/nf-hello-gatk -r main
// nextflow run seqeralabs/nf-hello-gatk -r main -profile docker
// nextflow run seqeralabs/nf-hello-gatk -r main -profile conda
// nextflow run seqeralabs/nf-hello-gatk -r main -profile docker,local
